.vscode-test/**
AGENTS.md
src/**
scripts/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
out/**
!out/extension.js
!out/extension.js.LEGAL.txt
!out/THIRD_PARTY_NOTICES.txt
!out/terminateProcess.sh
**/*.vsix
